.field-set{
    display: flex;
}

.payment-set{
    display: flex;
    justify-content: space-between;
}

.order-circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.order-status{
    display: flex;
    justify-content: space-around;
    align-items: center;
}