.product-list {
    max-width: 100%;
    min-width: 800px;
    justify-content: space-between;
    padding: 50px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info {
    flex: 1;
}

.product-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
