.top-bar{
    display: flex;
    width: auto;
    height: 150px;
    background-color: rgb(226, 213, 213);
    padding: 20px;
    align-items: center;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: yellow;
    margin: 20px;
}


.button-container{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.button{
    margin: 10px;
}
