.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    height: 100vh;
}

.login-form {
    width: 300px;
}

.top-bar {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 150px;
  max-width: 1500px;
  margin: 20px auto 0 auto;
  background-color: rgb(226, 213, 213);
  align-items: center;
}

.display-center {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

